<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='forgot.css')}}"/>
    <title>Document</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b style="color:rgb(20, 132, 229);">{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <form method="POST">
        <div class="form">
            <h3>Forgot Password</h3><br>
            <div class="one">
                <i class="two2"></i>
                <input type="text" name='email' placeholder="Enter your Email"/><br><br>
            </div>
            <div class="one">
                <i class="two2"></i>
                <input type="password" name="newpassword" placeholder="Enter your new password"/><br><br>
            </div>
            <div class="one">
                <i class="two2"></i>
                <input type="password" name="confirmpassword" placeholder="Enter confirm password"/><br><br>
            </div>
            <button class="button14">Submit</button>
        </div>
    </form>
</body>
</html>