<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h3>Your File</h3>
        <label for="one">File Extension</label><br>
        <input type="text" id="one" value="{{count[0]}}" name="extension"  cols="50" readonly/><br>
        <label for="five2">Data</label><br>
        <textarea id="five2" name="data" cols="150" rows="10" readonly>{{count[1]}}></textarea><br>
    </form>
</body>
</html>